.inputcontain {
  display: flex;
  flex-direction: column;
  row-gap: 25px;

}
.container {
  max-width: 450px;
  margin: 0 auto;
  margin-top: 80px;
}
.input {
  height: 70px;
  border-radius: 6px;
  padding-left: 20px;
  border: 1px solid #CCCCCC;
}
.loginbtn {
  height: 60px;
  background-color: #1DA1F2;
  border-radius: 76px;
  color: #fff;
  font-family: sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
transition: 0.5s;
cursor: pointer;
  border: none;
}
.loginbtn:hover {
  border: 1px solid #1DA1F2;
  background-color: transparent;
  color: #1DA1F2;
}
.loginh1 {
  font-family: sans-serif;
  font-size: 42px;
  font-weight: 900;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;
  

}

.logout {
  background-color: #1DA1F2;
  border: none;
 color: #fff;
 cursor: pointer;
width: 60px;
height: 35px;
}